<svelte:head>
  <title>BunCloudKit | A SvelteKit + Bun + Cloud Run Boilerplate</title>
</svelte:head>

<main>
  <h1>BunCloudKit</h1>
  <div>
    This is a bolerplate for using <a href="https://kit.svelte.dev/"
      >Svelte Kit</a
    >
    with <a href="https://bun.sh/">Bun</a>, and deployed to
    <a href="https://cloud.google.com/run">Google Cloud Run</a>.
    <hr />
    <a href="https://gitlab.com/coeyman/sveltekit-bun-cloudrun-boilerplate">
      View Source
    </a>
  </div>
</main>

<style>
  main {
    font-family: Avenir, sans-serif;
    max-width: 400px;
    padding: 1rem;
    margin: 0 auto;
  }
  h1 {
    line-height: 2.5rem;
  }
  hr {
    margin: 1rem 0;
    border: 1px solid #eee;
  }
</style>
